body {
    background-image: url(21.jpg);
    background-size: cover;
}

/* media query for Mobile Devices*/
    *,
    ::before,
    ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    html,body {
        width: 100%;
        height: 100%;
        margin:0px;
        padding:0px;
        overflow-x: hidden;
    }

    header {
        background: black;    
        width: 100%;                    
        position: fixed;
        z-index: 1;
    }

    .navbtn{
        margin-top: 8px;
        margin-left: 40px;
        margin-right: 15px;
        background: transparent;
        color: white; 
        position: absolute;
        right:0;
        padding-left: 5px;
        padding-right: 5px;
    }

    .topnav {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    .navpiclogo img {
        width: 40px;
        margin-left: 18px;
    }

    .navtxtlogo img {
        width: 130px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .nav {
        height: 100%;
        width: 0px;
        background-color: black;
        position: fixed;
        overflow-x: hidden;
        z-index: 1;
        transition: 500ms;
    }
    
    .navstyle {
        list-style: none;
        font-family: helvetica;
        font-weight: bold;
        margin-top: 15px;
    }
    
    .nav .closebtn {
        margin-left: 230px;
        font-size: 45px;
        cursor: pointer;
    }
    
    .nav li {
        margin-top: 20px;
    }
    
    .nav a {
        text-decoration: none;
        color: white;
        font-size:21px;
    }
    
    .main {
        margin-top: 110px;
    }
    
    .postcontainerintro {
        width: 50%;
    }

    .card {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    }

    .webfooter {    
    height: 300px;
    background-color: black;
    padding-top: 15px;
    padding-left: 15px;
    }

    .Flogoset1 {
        display: block;
        margin-left: 100px;
        padding: 7px;
      }
    
    .Flogoset2 {
        display: block;
        margin-left: 100px;
        padding: 7px;
      }

    .footlogo1 {
        margin-right:14px;
    }
    .footlogo3 {
        margin-right:14px;
    }

    .btmFooter {
        display: block;
        margin-left: 115px;
        margin-top: 15px;
        margin-bottom: 10px
    }

    .linkInfo {
        margin-left: 76px;
    }
    .linkInfo a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
    /**/
    /*Media queries for Small-Medium sized Mobile platform*/
    @media only screen and (max-width: 320px) {
        .webfooter {    
            height: 300px;
            background-color: black;
            padding-top: 15px;
            padding-left: 0px;
            }
    }

    /*Media queries for Large sized Mobile platforms*/
    @media only screen and (min-width: 411px) {
        .webfooter {    
            background-color: black;
            padding-top: 15px;
            padding-left: 45px;
            }
    }

    /*Media queries for tablet platform*/
    @media only screen and (min-width: 768px) {
        .webfooter {    
            background-color: black;
            padding-top: 55px;
            float: auto;
            }

            .main {
                margin-left: 60px;
            }

            .postcontainerintro {
                width: 50%;
            }
            
            .btnpost {
                display: none;
            }

            .card {
            width: 30%;
            margin-left: 10%;
            margin-bottom: 10%;
            display: inline-block;
            }
            
            .postimage {
                width: 100%;
            }
            
            .Flogoset1 {
                display: inline-flex;
                margin-left: -270px;
              }
            
            .Flogoset2 {
                display: inline-flex;
                margin-left: -5px;
              }
            
              .footlogo1 {
                margin-right: 25px;
              }
              .footlogo2 {
                margin-right: 15px;
              }
              .footlogo3 {
                margin-right: 25px;
              }
            
              .btmFooter {
                display: inline;
                margin-left: 200px;
                margin-top: 95px;
                margin-bottom: 10px;
                float: left;
                }
            
              .linkInfo {
                float: left;
                margin-top: 123px;
                margin-left: 32px;
                }               
               
                
                

    }
    @media only screen and (min-width: 1080px) {
        .nav {
            display: none;
        }
        .navbtn {
            display: none;
        }
        .logo {
            display: none;
        }

    }
