body {
    background-image: url(21.jpg);
    background-size: cover;
}

/* Default Media Query (320px devices)*/
    *,
    ::before,
    ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    
    
    .L1, .L2, .L3 {
        width: 35px;
        height: 5px;
        background-color: #FFFFFF;
        margin: 6px 0;
        transition: 500ms;
    }

    .change .L1 {
        -webkit-transform: rotate(137deg) translate(-9px, -15px);
        transform: rotate(137deg) translate(-9px, -15px);
        width: 20px;
    }

    .change .L2 {
    opacity: 0;            
    }

    .change .L3 {
        -webkit-transform: rotate(-137deg) translate(-8px, 15px);
        transform: rotate(-137deg) translate(-8px, 15px);
        width: 20px;;
    }

    html,body {
        width: 100%;
        height: 100%;
        margin:0px;
        padding:0px;
        overflow-x: hidden;
    }

    header {
        background: black;    
        width: 100%;                    
        position: fixed;
        z-index: 1;
    }

    .buttonnav {
        position: fixed;
        right: 0;
        margin-right: 30px;
        margin-top: 5px;
    }

    .topnav {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }

    
    .navstyle {
        list-style: none;
        font-family: helvetica;
        font-weight: bold;
    }

    .navpiclogo img {
        width: 40px;
        margin-left: 18px;
    }

    .navtxtlogo img {
        width: 130px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .navb {
        height: 100%;
        width: 0;                
        background-color: black;
        position: fixed;
        overflow-x: hidden;
        z-index: 1;
        transition: 500ms;
        margin-top: 65px;
    }
    
    .navicon {
        margin-bottom: 7px;
        margin-right: 10px;
    }

    
    .navb .closebtn {
        margin-left: 186px;
        font-size: 45px;
        cursor: pointer;
    }
    
    .navb li {
        margin-left: 20px;
        padding-top: 50px;
    }
    
    .navb a {
        text-decoration: none;
        color: white;
        font-size:21px;
    }
    
    .main {
        margin-top: 110px;
    }
    
    .postcontainerintro {
        width: 50%;
    }

    .card {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    }

    .webfooter {    
    height: 300px;
    background-color: black;
    padding-top: 15px;
    padding-left: 15px;
    }

    .Flogoset1 {
        display: block;
        margin-left: 100px;
        padding: 7px;
    }
    
    .Flogoset2 {
        display: block;
        margin-left: 100px;
        padding: 7px;
    }

    .footlogo1 {
        margin-right:14px;
    }
    .footlogo3 {
        margin-right:14px;
    }

    .btmFooter {
        display: block;
        margin-left: 115px;
        margin-top: 15px;
        margin-bottom: 10px
    }

    .linkInfo {
        margin-left: 76px;
    }
    .linkInfo a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }

    .dsknav {
        display: none;    
    }
    .jbtron {
        width: 0px;
    }

    /**/
    /*Media queries for Small-Medium sized Mobile platform*/
    @media only screen and (max-width: 320px) {
        .webfooter {    
            height: 300px;
            background-color: black;
            padding-top: 15px;
            padding-left: 0px;
            }
            .dsknav {
                display: none;
            }
            .jbtron {
                width: 0px;
            }
    }

    /*Media queries for Large sized Mobile platforms*/
    @media only screen and (min-width: 411px) {
        .webfooter {    
            background-color: black;
            padding-top: 15px;
            padding-left: 45px;
            }
            .dsknav {
                display: none;
            } 
            .jbtron {
                width: 0px;
            }
    }

    /*Media queries for tablet platform*/
    @media only screen and (min-width: 768px) {
        .webfooter {    
            background-color: black;
            padding-top: 55px;
            float: auto;
            }

            .main {
                margin-left: 60px;
            }
            
            .navb li {
                margin-left: 40px;
            }
            
            .postcontainerintro {
                width: 50%;
            }
            
            .btnpost {
                display: none;
            }

            .card {
            width: 30%;
            margin-left: 10%;
            margin-bottom: 10%;
            display: inline-block;
            }
            
            .postimage {
                width: 100%;
            }
            
            .Flogoset1 {
                display: inline-flex;
                margin-left: -270px;
              }
            
            .Flogoset2 {
                display: inline-flex;
                margin-left: -5px;
              }
            
              .footlogo1 {
                margin-right: 25px;
              }
              .footlogo2 {
                margin-right: 15px;
              }
              .footlogo3 {
                margin-right: 25px;
              }
            
              .btmFooter {
                display: inline;
                margin-left: 200px;
                margin-top: 95px;
                margin-bottom: 10px;
                float: left;
                }
            
              .linkInfo {
                float: left;
                margin-top: 123px;
                margin-left: 32px;
                }      
                .dsknav {
                    display: none;
                }         
                .jbtron {
                    width: 0px;
                }
               
    }
    @media only screen and (min-width: 1024px) {
        .navb {
            display: none;
        }
        .buttonnav {
            display: none;
        }
        .logo {
            display: none;
        }
        .topnav {
            display: none;
        }
        .dsknav {
            display: inline;
        }
        .webfooter {
            padding-left: 170px;
        }
        .jbtron {
            width: 900px;
            margin-bottom: 50px;
        }
    }

    @media only screen and (min-width: 1440px) {
        
        .navb {
            display: none;
        }
        .buttonnav {
            display: none;
        }
        .logo {
            display: none;
        }  
        .post-cards {
            margin-left: 95px;
            display: block;
        }
        .card {
            width: 18%;            
            margin-left: 50px;
        }
        .webfooter {
            padding-left: 370px;         
        }
        .jbtron {
            width: 1090px;
            margin-left: 143px;
            margin-bottom: 50px;
        }
    }


    /*bootstrap css*/

    
    
